body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",Times, serif;
  color: purple;
  background-color: lavender }
  ul.navbar { /*--用来定位是哪个navbar*/
   list-style-type: none;
   padding: 0;
   margin: 0;
   position: absolute;
   top: 2em;
   left: 1em;
   width: 9em }
  h1 {
    font-family: Helvetica, Geneva, Arial,SunSans-Regular, sans-serif }
  ul.navbar li { /*设置定位到哪里*/
   background: white;
   margin: 0.5em 0;
   padding: 0.3em;
   border-right: 1em solid black }
  ul.navbar a { /*a代表定位到超链接的地方*/
     text-decoration: none }
  a:link {
     color: blue }
  a:visited {
     color: purple }
  address { /*设置一条线*/
     margin-top: 1em;
     padding-top: 1em;
     border-top: thin dotted }
